<ion-view>
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Registro</h1>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-at placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="user.email">
          </label> <br>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="Contraseña" ng-model="user.password" ng-keydown="registerT($event, user)">
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-outline button-calm" ng-click="register(user)">
          Registrarse
        </button>
      </div>
      O
      <div class="col">
        <button class="button button-block button-outline button-dark" ng-click="gologin()">
          Iniciar Sesión
        </button>
        </div>
    </div>
  </ion-content>
</ion-view>
